@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bricolage Grotesque", sans-serif;
}

header {
  z-index: 999;
}

.mySwiper {
  padding-top: 0 !important;
  margin: 1em auto;
}

/* .card {
  position: static;
} */
