@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bricolage Grotesque", sans-serif;
}

header {
  z-index: 999;
}

.album-card:hover {
  transform: scale(1.01);
}

.album-card:active {
  transform: scale(0.99);
}

@media screen and (min-width: 768px) {
  .album-artwork-container,
  .album-card-container {
    aspect-ratio: 1/1;
  }
}
